<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>

	<typeAliases>
		<typeAlias type="com.jinseok.blog.mvc.model.BoardVO" alias="boardVo"/>
		<typeAlias type="com.jinseok.blog.mvc.model.UserVO" alias="userVo"/>
	</typeAliases>
</configuration>